.comparator {
    position: fixed;
    z-index: 10;
    top: 70px;
    left: 0;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 0px 15px 15px 0px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    border: 1px solid green;
}
.comparator:hover {
    background-color: #fff;
    color: green;
}
