.creditLink {
    color: #000;
}

.radioInput:checked + .radioButton {
    background-color: black;
    border-color: black;
}

.radioInput:checked + .radioButton::after {
    background-color: white;
}

.radioCredit{
    accent-color: black;
}

.formLabel {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px !important;
    margin-top: 10px;
}