.carPrice {
    padding-top: 1rem; 
    margin-bottom: 0;
    text-align: left;
    font-weight: 900;
}

.monedaSize {
    font-size: 20px;
    font-weight: 600;
}

@media (width > 768px) {
    .carPrice {
        text-align: right;
    }
}