:root {
    --primary-white: #fff;
    --primary-black: #2a292b;
    --primary-gray: #f1f1f1;
}

body {
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
}

.swiper-wrapper > .swiper-slide-thumb-active {
    opacity: 1;
}

p {
    text-wrap:pretty;
}