:root {
    --primary-white: #fff;
    --primary-black: #2a292b;
    --primary-gray: #f1f1f1;
}

body {
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
}

.swiper-wrapper > .swiper-slide-thumb-active {
    opacity: 1;
}

p {
    text-wrap: pretty;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

select option {
    background-color: var(--primary-gray);
}


.custom-slider .range-slider__range {
    height: 6px;
    background-color: black;
    border-radius: 4px;
}


/* Estilo para el thumb (el círculo que arrastras) */
.custom-slider .range-slider__thumb {
    height: 22px;
    width: 22px;
    background-color: var(--primary-white);
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Hover y focus para el thumb */
.custom-slider .range-slider__thumb:hover,
.custom-slider .range-slider__thumb:focus {
    outline: 0;
    box-shadow: 0 0 0 5px rgba(97, 97, 97, 0.5);
}
