.titleBox {
    background-color: var(--primary-gray);
    padding: 15px 10px;
    border-radius: 3px;
    align-items: center;
    border-radius: 12px;
}
.carTitle {
    font-size: 24px;
    font-weight: 900;
}