.formBox {
    margin: 0px;
    padding: 20px;
    border: none;
    background-color: var(--primary-gray);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 16px;
}

.formLabel {
    font-weight: 500;
    font-size: 14px;
}

.formSelect {
    border: none !important;
    border-radius: 50px !important;
    font-size: 14px !important;
}

/* Contenedor general del slider */
.slider {
    width: 100%;
    margin: 20px 0;
  }
  
  /* Estilo para la barra del slider (track) */
  .track {
    height: 6px;
    background-color: #ddd; /* Color de la barra inactiva */
    border-radius: 4px;
  }
  
  /* Estilo para la barra activa del slider (track active) */
  .trackActive {
    background-color: #4CAF50; /* Color personalizado para la parte activa */
  }
  
  /* Estilo para el thumb (el círculo que arrastras) */
  .thumb {
    height: 18px;
    width: 18px;
    background-color: #4CAF50; /* Color personalizado del thumb */
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  /* Hover y focus para el thumb */
  .thumbHover:focus,
  .thumbHover:hover {
    background-color: #45a049; /* Cambia de color cuando está en hover o focus */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }