.desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: auto;
    z-index: 2;
}
.cardComparador {
    position: relative;
    border: 1px solid #00000021 !important;
    border-radius: 10px !important;
    overflow: hidden;
}
.groupComparador {
    gap: 10px;
}
.version {
    font-size: 14px;
    color: #00000090;
    padding: 0px 15px 10px 15px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.odd {
    background-color: #00000007;
    padding: 5px 15px;
}
.even {
    padding: 5px 15px;
}
.bodyCard {
    padding: 0px !important;
}
.brand {
    padding: 10px 15px 0px 15px;
}
.fw-500 {
    font-weight: 500;
}
.capitalize {
    text-transform: lowercase;
}
.capitalize::first-letter {
    text-transform: uppercase;
}
.btnCard {
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid var(--primary-black);
    pointer-events: auto;
    color: var(--primary--dark-blue);
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    padding: 0.6875em 1.125em 0.4375em;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.btnCard:hover {
    background-color: #212529;
    color: #ffffff;
}
.divBtn {
    padding: 15px;
}
