.featuresWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 5px 0px;
}

.iconSize {
    font-size: 16px;
}

.imgWrapper {
    position: relative;
}

.cardImg {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.featuresBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-gray);
    border-radius: 3px;
    color: var(--primary-black);
    font-size: 14px;
}

.cardBox {
    border: none !important;
    background-color: var(--primary-gray) !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 16px !important;
}

.priceSize {
    font-size: clamp(18px, 1.4vw, 24px);
    font-weight: 900;
}

.monedaSize {
    font-size: clamp(14px, 1.4vw, 16px);
    font-weight: 600;
}

.btnCard {
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid var(--primary-black);
    pointer-events: auto;
    color: var(--primary--dark-blue);
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    padding: 0.6875em 1.125em 0.4375em;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hasCta:hover .btnCard {
    background-color: #212529;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}
